.instructions .container h1 {
    font-size: 30px;
    font-weight: 700;
}

.instructions {
    background-color: #1b3b6a;
    color: white;
}

#entryForm {
    margin-top: 14px;
}
/* body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR4gGdgB-HVL6-uOC2LlE_7ZW-ZxxgPHDRvx9SE7DPWL2xpMWm) no-repeat center center fixed;
    background-size: 1100px 840px;
} */

#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}

.navbar {
  background-color: #1b3b6a;
  width: 100%;
  border-radius: 0px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
.logout{
    float: right;
}
#addSpot{
    text-align: center;
}
#addSpotHeader{
    text-align: center;
}
.th{
    padding: 8px;
    text-align: center;
    text-decoration: black;
    text-decoration-line: underline;
    text-decoration-style: solid;
    padding-left: 40px;
}

.td{
    padding: 8px;
    padding-left: 40px;
    text-align: center;
}
th{
    padding: 8px;
    text-align: center;
    text-decoration: black;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
td{
    padding: 8px;
    text-align: center;
}
#logInScreen{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
#registerScreen{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
#registerBtn{
    color: #ddd;
}
#loginBackground{
    background: url() no-repeat center center fixed;
}
#homeDiv{
    text-align: center;
}
#searchInput{
    margin-top: 15px;
    font-size: 22px;
}
#searchBtn{
    font-size: 22px;
}
.editInputs{
    inline-size: 75px;
}
.input1{
    inline-size: 35px;
}
.input2{
    inline-size: 105px;
}
.input3{
    inline-size: 125px;
}
.input4{
    inline-size: 125px;
}
.input5{
    inline-size: 100px;
}
.input6{
    inline-size: 60px;
}
.input7{
    inline-size: 30px;
}
.input8{
    inline-size: 30px;
}
.input9{
    inline-size: 140px;
}
#uploadBtn{
    background-color: #1b3b6a;
}
#headerDiv{
    background-color: #1b3b6a;
}
#searchTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 7px;
}

#searchTable td, #searchTable th {
    border: 1px solid #ddd;
    padding: 4px;
}

#searchTable tr:nth-child(even){background-color: #f2f2f2;}

#searchTable tr:hover {background-color: #ddd;}

#searchTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1b3b6a;
    color: white;
}
#spotsTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 7px;
}

#spotsTable td, #searchTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#spotsTable tr:nth-child(even){background-color: #f2f2f2;}

#spotsTable tr:hover {background-color: #ddd;}

#spotsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1b3b6a;
    color: white;
}


