<meta name="viewport" content="width=device-width, initial-scale=1">
<form>
<div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#!user">Home</a></li>
      <li><a href="#!add">AddSpot</a></li>
      <li><a href="#!spots">MySpots</a></li>

      <li><a href="#!info">Info Page</a></li>
     <md-button style="background-color: #DDDDDD; color: #1b3b6a;" class="md-raised md-primary btn btn-default logout" ng-click="vm.userService.logout()">Log Out</md-button>
    </ul>
    
  </div>
</div>
</form>
