<meta name="viewport" content="width=device-width, initial-scale=1">
<form>
<h1 id="addSpotHeader">AddSpot</h1>
<hr />



<div id="addSpot">
<h2>Location</h2>
    <md-button id="uploadBtn" ng-click="vm.upload()" class="md-raised md-primary btn btn-warning">Upload Image</md-button><br><br>
    
    <md-input-container>
            <label>Street One</label>
    <input type="text" ng-model="vm.newSpot.streetOne">
</md-input-container>
    <md-input-container>
            <label>Street Two</label>
    <input type="text" ng-model="vm.newSpot.streetTwo">
</md-input-container>
    <md-input-container>
            <label>City</label>
    <input type="text" ng-model="vm.newSpot.city">
</md-input-container>
    <md-input-container>
            <label>Zip Code</label>
    <input type="number" ng-model="vm.newSpot.zipCode">
</md-input-container>
    <br>
    <hr />
    <md-input-container>
            <label>State</label>
    <input type="text" ng-model="vm.newSpot.state">
</md-input-container>
    <md-input-container>
            <label>Country</label>
    <input type="text" ng-model="vm.newSpot.country">
</md-input-container>
    <br>
    <hr />
    <label>Spot Rating</label>
    <md-card-content>
            <div layout="row" layout-align="center center">
    <md-select class="md-no-underline" ng-model="vm.newSpot.spotRating">
        <md-option value="1">1</md-option>
        <md-option value="2">2</md-option>
        <md-option value="3">3</md-option>
        <md-option value="4">4</md-option>
        <md-option value="5">5</md-option>
    </md-select>
</div>
    <label>Skill Level</label>
    <md-card-content>
            <div layout="row" layout-align="center center">
    <md-select class="md-no-underline" ng-model="vm.newSpot.skillLevel">
        <md-option value="beginner">Beginner</md-option>
        <md-option value="novice">Novice</md-option>
        <md-option value="intermediate">Intermediate</md-option>
        <md-option value="pro">Pro</md-option>
        <md-option value="expert">Expert</md-option>
    </md-select>
</div>
    <br>
    <hr />
    <md-input-container>
            <label>Description</label>
    <textarea type="text" ng-model="vm.newSpot.description" cols="30" rows="2"></textarea><br><br>
</md-input-container>
<section ng-click="vm.popUp()">
<div ng-click="vm.newSpot = null">
    <md-button style="background-color: #1b3b6a;" class="md-raised md-primary" ng-click="vm.addSpot(vm.newSpot)">AddSpot</md-button>
</div>
</section>
</div>
</form>



