<meta name="viewport" content="width=device-width, initial-scale=1">
        <div layout="column" layout-align="center center" class="mid-inline-form"> 
<!-- <div id="logInScreen" class="container"> -->
  <h1 class="md-display-3 lead">Login</h1>
    <h1 class="lead alert alert-danger md-display-3" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
    <form ng-submit="vm.login()">
            <div layout="column" layout-align="center center" class"mid-inline-form"></div>
      <div>
            <md-input-container>
          <label for="username">Username:</label>
          <input type="text" ng-model="vm.user.username" />
        </md-input-container>
      </div>
      <div>
            <md-input-container>
          <label for="password">Password:</label>
          <input type="password" ng-model="vm.user.password" />
        </md-input-container>
      </div>
      <div>
          <md-button style="background-color: #1b3b6a;" class="md-raised md-primary btn btn-default" type="submit" name="submit" value="Log In">Log In</md-button>
          <a href="#!register">Register</a>
        
      </div>
    </form>
</div>
</div>







