<h1>MySpots</h1>
<hr />

<div>
    <table id="spotsTable">
            <thead>
                <th>PostedBy</th>
                <th>Image</th>
                <th>SpotRating</th>
                <th>SkillLevel</th>
                <th>Location</th>
                <th>SpotDescription</th>
            </thead>
            <tbody>
                <tr ng-repeat="spot in vm.allSpots.list" ng-if="spot.postedBy === vm.userObject.userName">
                    <td ng-hide="spot.beingEdited">{{spot.postedBy}}</td>
                    <td ng-show="spot.beingEdited">{{spot.postedBy}}</td>
                    <td ng-hide="spot.beingEdited"><img src="{{spot.imgUrl}}" width="250px"></td>
                    <td ng-show="spot.beingEdited"><button id="uploadBtn" ng-click="vm.upload()" class="btn btn-warning">Upload Image</button></td>
                    <td ng-hide="spot.beingEdited">{{spot.spotRating}}</td>
                    <td ng-show="spot.beingEdited" class="editable">SpotRating<select class="input1" ng-model="spot.spotRating" ng-value="spot.spotRating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td ng-hide="spot.beingEdited">{{spot.skillLevel}}</td>
                    <td ng-show="spot.beingEdited" class="editable">SkillLevel<select class="input2" ng-model="spot.skillLevel" ng-value="spot.skillLevel">
                            <option value="beginner">Beginner</option>
                            <option value="novice">Novice</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="pro">Pro</option>
                            <option value="expert">Expert</option>
                        </select>
                    </td>
                    <td ng-hide="spot.beingEdited">{{spot.streetOne}}, {{spot.streetTwo}}, <br>{{spot.city}}, {{spot.zipCode}}, {{spot.state}}, {{spot.country}}</td>
                    <td ng-show="spot.beingEdited" class="editable">StreetOne<input class="input3" type="text" ng-model="spot.streetOne" ng-value="spot.streetOne"></td>
                    <td ng-show="spot.beingEdited" class="editable">StreetTwo<input class="input4" type="text" ng-model="spot.streetTwo" ng-value="spot.streetTwo"></td>
                    <td ng-show="spot.beingEdited" class="editable">City<input class="input5" type="text" ng-model="spot.city" ng-value="spot.city"></td>
                    <td ng-show="spot.beingEdited" class="editable">ZipCode<input class="input6" type="number" ng-model="spot.zipCode" ng-value="spot.zipCode"></td>
                    <td ng-show="spot.beingEdited" class="editable">State<input class="input7" type="text" ng-model="spot.state" ng-value="spot.state"></td>
                    <td ng-show="spot.beingEdited" class="editable">Country<input class="input8" type="text" ng-model="spot.country" ng-value="spot.country"></td>
                    <td ng-hide="spot.beingEdited">{{spot.description}}</td>
                    <td ng-show="spot.beingEdited" class="editable">Description<input class="input9" type="text" ng-model="spot.description" ng-value="spot.description"></td>
                    <td><button ng-hide="spot.beingEdited" ng-click="vm.deleteSpot(spot._id)">Delete</button><button ng-show="spot.beingEdited" ng-click="vm.cancelEdit(spot)">Cancel</button></td>
                    <td><button ng-hide="spot.beingEdited" ng-click="vm.showEditForm(spot)">Edit</button> <button ng-show="spot.beingEdited" ng-click="vm.submitEditSpot(spot)">Submit</button></td>
                </tr>
            </tbody>
        </table>
</div>