<div id="homeDiv" class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>
   
    <h1>Find a Spot!</h1>
    <hr />

    <input id="searchInput" ng-model="searchBox" type="text" placeholder="Search Something!"><button id="searchBtn">Search</button>
    <br>
    <br>
    <br>
    <br>
    <div ng-repeat="spot in vm.allSpots.list | filter: searchBox">
            <table id="searchTable">
                    <thead>
                        <th>PostedBy</th>
                        <th>SpotRating</th>
                        <th>SkillLevel</th>
                        <th>Location</th>
                        <th>SpotDescription</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{spot.postedBy}}</td>
                            <td>{{spot.spotRating}}</td>
                            <td>{{spot.skillLevel}}</td>
                            <td>{{spot.streetOne}}, {{spot.streetTwo}}, <br>{{spot.city}}, {{spot.zipCode}}, {{spot.state}}, {{spot.country}}</td>
                            <td>{{spot.description}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>

</div>
