<div id="homeDiv" class="container">

    <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>
   
    <h1>Find a Spot!</h1>
    <hr />

    <input id="searchInput" ng-model="searchBox" type="text" placeholder="Search Something!"><button id="searchBtn">Search</button>
    <br>
    <br>
    <br>
    <br>
    <div>
            <table id="searchTable">
                    <thead>
                        <th class="th">PostedBy</th>
                        <th class="th">SpotRating</th>
                        <th class="th">SkillLevel</th>
                        <th class="th">Location</th>
                        <th class="th">SpotDescription</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="spot in vm.allSpots.list | filter: searchBox">
                            <td class="td">{{spot.postedBy}}</td>
                            <td class="td">{{spot.spotRating}}</td>
                            <td class="td">{{spot.skillLevel}}</td>
                            <td class="td">{{spot.streetOne}}, {{spot.streetTwo}}, <br>{{spot.city}}, {{spot.zipCode}}, {{spot.state}}, {{spot.country}}</td>
                            <td class="td">{{spot.description}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>

</div>
